{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
{#    <h1>Produits</h1>#}
{#    <a  class="btn btn-dark" href="{{ path('app_produits_new') }}">Create new</a>#}



    <!-- product section start -->
    <div class="product_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="product_taital">Nos Produits</h1>
{#                    <p class="product_text">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>#}
                </div>
            </div>
            <div class="product_section_2 layout_padding">
                <div class="row">
                    {% for produit in produits %}
                    <div class="col-lg-3 col-sm-6">

                        <div class="product_box">
                            <h4 class="bursh_text">
                                {% set maxLength = 20 %}
                                {% set truncatedString = produit.nomProduit|slice(0, maxLength)|split(' ')|slice(0, -1)|join(' ') %}
                                {% if produit.nomProduit|length > maxLength %}
                                    {{ truncatedString }}...
                                {% else %}
                                    {{ produit.nomProduit }}
                                {% endif %}
                            </h4>
                            <p class="lorem_text">
                                {% set maxLength = 60 %}
                                {% set truncatedString = produit.legende|slice(0, maxLength)|split(' ')|slice(0, -1)|join(' ') %}
                                {% if produit.legende|length > maxLength %}
                                    {{ truncatedString }}...
                                {% else %}
                                    {{ produit.legende }}
                                {% endif %}
                            </p>
                            <img src="{{ produit.image }}" class="image_1">
                            <div class="btn_main">
                                <div class="buy_bt">
                                    <ul>
                                        <li class="active" ><a href="{{ path('app_produits_show', {'id': produit.id}) }}">plus d'info <i class="fa-solid fa-circle-info"></i> </a></li>
{#                                        <li><a href="{{ path('app_produits_show', {'id': produit.id}) }}">plus d'info</a></li>#}
                                    </ul>
                                </div>
                                <h3 class="price_text">Prix : {{ produit.prix }} €</h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

{#                <div class="seemore_bt"><a href="#">See More</a></div>#}
            </div>
        </div>
    </div>
    <!-- product section end -->

    {#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Nom_produit</th>#}
{#                <th>Prix</th>#}
{#                <th>Legende</th>#}
{#                <th>Description</th>#}
{#                <th>Image</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for produit in produits %}#}
{#            <tr>#}
{#                <td>{{ produit.id }}</td>#}
{#                <td>{{ produit.nomProduit }}</td>#}
{#                <td>{{ produit.prix }}</td>#}
{#                <td>{{ produit.legende }}</td>#}
{#                <td>{{ produit.description }}</td>#}
{#                <td><img class="img-fluid" src="{{ produit.image }}"></td>#}
{#                <td>#}
{#                    <a href="{{ path('app_produits_show', {'id': produit.id}) }}">show</a>#}
{#                    <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="7">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{% endblock %}

