{% extends 'base.html.twig' %}

{#{% block title %}Produits index{% endblock %}#}

{% block body %}
{#    <h1>Produits</h1>#}
{#    <a  class="btn btn-dark" href="{{ path('app_produits_new') }}">Create new</a>#}



    <div class="content">
        <div class="container">
            <div class="row row-cols-auto" style="justify-content: center;">
                {% for produit in produits %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ produit.image }}" alt="" >
                        <div class="card-body">
                            <h5 class="card-title" style="min-height: 73px">{{ produit.nomProduit }}</h5>
                        </div>
                        </a>
                        <ul class="list-group list-group-flush">
                           <div style="display: flex">
                               <li class="list-group-item">{{ produit.prix }} €</li>
                               <a href="{{ path('app_produits_show', {'id': produit.id}) }}" style="position: relative; left: 50%" class="btn btn-dark" >Afficher</a>
                           </div>
                        </ul>
                    </div>
                    <br><br>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Nom_produit</th>#}
{#                <th>Prix</th>#}
{#                <th>Legende</th>#}
{#                <th>Description</th>#}
{#                <th>Image</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for produit in produits %}#}
{#            <tr>#}
{#                <td>{{ produit.id }}</td>#}
{#                <td>{{ produit.nomProduit }}</td>#}
{#                <td>{{ produit.prix }}</td>#}
{#                <td>{{ produit.legende }}</td>#}
{#                <td>{{ produit.description }}</td>#}
{#                <td><img class="img-fluid" src="{{ produit.image }}"></td>#}
{#                <td>#}
{#                    <a href="{{ path('app_produits_show', {'id': produit.id}) }}">show</a>#}
{#                    <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="7">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{% endblock %}

