{% extends 'base.html.twig' %}

{% block title %}{{ produit.nomProduit }}{% endblock %}

{% block body %}

    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <div class="about_section_main">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_taital_main">
                            <h1 class="about_taital">{{ produit.nomProduit }}</h1>
                            <p class="about_text">{{ produit.legende }}</p>
                            <p class="about_text">{{ produit.description }}</p>
                            <div class="about_text d-flex mt-5">
                                <a href="{{ path('app_produits_edit', {'id': produit.id}) }}"  class="btn btn-dark" style="margin-right: 20px">Modifier</a>
                                {{ include('produits/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div><img src="{{ produit.image }}" class="image_3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->










{#    <a href="{{ path('app_produits_index') }}">back to list</a>#}

{% endblock %}
