{% extends 'base.html.twig' %}

{#{% block title %}Produits{% endblock %}#}

{% block body %}
    <h1>Produit</h1>


        <section class=" contenaire sproduct my-5 pt-5">
            <div class="row mt-5">
                <div class="col-lg-5 col-md-12 col-12">
                    <img class="img-fluid w-100" src="{{ produit.image }}" alt="">

                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <h5 class=" py-4" name="nom">{{ produit.nomProduit }}</h5>
                    <h2 class="card-title" name="prix" id="total">{{ produit.prix }} €</h2> <br>
                    <input type="number" id="qt" value="1" min="1" style="width: 40px" name="qt">
                    <h4>Description</h4>
                    <span >{{ produit.description }}</span>
                </div>
            </div>
        </section>



    <a href="{{ path('app_produits_index') }}">back to list</a>

    <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produits/_delete_form.html.twig') }}
{% endblock %}
